// COLORS

$primary-color : #7D98E1;
$primary-color-light : #7C92DE;
$primary-color-dark : #CFA4D3 ;



$secondary-color-light: #ffb900;
$secondary-color-dark: #ff7730;

$tertiary-color-light: #2998ff;
$tertiary-color-dark: #5643fa;

    
$color-grey-light-1 : #f7f7f7;
$color-grey-light-2 : #eee;
$color-grey-dark : #777;
$color-grey-dark-2 : #999;
$color-grey-dark-3 : #333;



$color-white : #fff;
$color-black : #000;


// GRID 
$grid-width: 114rem;
$gutter-vertical: 8rem;
$gutter-vertical-small: 4rem;
$gutter-vertical-smallest: 2rem;


$gutter-horizontal: 6rem;

// FONT

$default-font-size: 1.6rem;
$default-font-size-large: 2.3rem;
